!!!
%html
  %head
    %script{type: "text/javascript", src: "/underscore.js" }
    %script{type: "text/javascript", src: "/jquery.js" }
    %script{type: "text/javascript", src: "/space-pen.js" }
    %script{type: "text/javascript", src: "/coffee/app.coffee" }
    %link{rel: "stylesheet/less", type: "text/css", href: "/reset.less"}
    %link{rel: "stylesheet/less", type: "text/css", href: "/styles.less"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" }
    %title It's an editor
  %body
